<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="72500c5d-0a8f-4220-8012-2df3d2a9d41e" Version="1.0.0.0" Publisher="CN=Den" />
  <Properties>
    <DisplayName>OutcoldSolutions.WindowsStore.BlogEditor</DisplayName>
    <PublisherDisplayName>Den</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Blog Editor" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Blog Editor." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>